<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Incident Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/MVCWeb.styles.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link href="~/css/app.css" rel="stylesheet"  asp-append-version="true"/>  
    <link href="~/css/site.css" rel="stylesheet"  asp-append-version="true" />
    <link href="~/css/general.css" rel="stylesheet"  asp-append-version="true" />
    <link href="~/css/navbar.css" rel="stylesheet"  asp-append-version="true" />
    <link href="~/css/pagination.css" rel="stylesheet"  asp-append-version="true" />
   
    <link href="~/css/dashboard.css" rel="stylesheet"  asp-append-version="true" />
    <link href="~/css/listing.css" rel="stylesheet"  asp-append-version="true" />
    <link href="~/css/incidentDetails.css" rel="stylesheet"  asp-append-version="true" />
    
</head>
<body>
    <header>
        @if (User.Identity is not null && User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm   box-shadow mb-3">
                <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">
                     <img src="~/img/logo-white.png" height="50px" />
                </a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                         <i class="material-icons text-white">menu</i>
                </button>
                <div class="navbar-collapse collapse ">
                    <ul class="navbar-nav  ms-auto ">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Incident" asp-action="Listing"> 
                                <i class="material-icons">pest_control</i>
                                Incidents
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Listing">
                                <i class="material-icons">people</i>
                                 Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">
                                <i class="material-icons text-danger" title="Log out">logout</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        }
    </header>
    <div  class=@((User.Identity is not null && User.Identity.IsAuthenticated)? "container" :"" )>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MVCWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/highcharts.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
