<div class="page-container d-none" id="pageContainer">
     
        <div id="info" class="text-muted">
            
        </div>
          <div class="">
            <div>
                <span class="text-muted">Page Size :</span>
                <select onchange="sizeChanged(this);" class="line-textbox  browser-default dropdown-custom">
                    <option value="5" selected="">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
        <div class="">
            <nav>
                <ul id="pageList" class="pagination justify-content-end">             
                </ul>
            </nav>
        </div>
</div>


<script>
  const setRecordsInfo = (total, pageSize, pageNumber) => {      
            let end = pageSize * pageNumber;
            let start = end - pageSize + 1;
            if (end > total)
                end = total;
            if (total === 0) 
              start = 0;
            let info = `Showin from  ${ start } to ${ end } of ${ total } records`;
            $("#info").html(info);
        }
    const sizeChanged = (dropdown) => {
        pageSizeChanged($(dropdown).val()); // call the method in listing report
    }
    //
    const setPagination = (totalRecords, pageSize, pageNumber) => {       
            let pagesHtml = " <nav>";
             pagesHtml += "<ul class='pagination justify-content-end'>";
           
            let noOfPages = Math.ceil(totalRecords / pageSize);
            // No pages if no records
            //if (totalRecords == 0)
             //   return;
            // set previous button
            if (pageNumber === 1)
                pagesHtml += `<li class='page-item'><span class='page-link'>Previous</span></li>`;
            else
                pagesHtml += `<li class='page-item' onclick="pageNumberChanged(${ pageNumber - 1});">
                                <a class='page-link' href='#'>Previous</a>
                             </li>`;
            // set number buttons
            for (let i = 1; i <= noOfPages; i++) {
                let isActive = i === pageNumber ? "active" : ""; //;
                if (i > pageNumber - 3 && i < pageNumber + 3) {
                     pagesHtml += `<li class="page-item ${ isActive }" onclick="pageNumberChanged(${i})">
                                   <a class='page-link' href='#'> ${ i } </a>
                                  </li>`;
                }           
            }
            // set next button
            if (pageNumber === noOfPages)
                pagesHtml += "<li class='page-item'><span class='page-link'>Next</span></li>";
            else
                pagesHtml += `<li class='page-item' onclick="pageNumberChanged(${ pageNumber + 1 });">
                                <a class='page-link' href='#'>Next</a>
                             </li>`;
   
            pagesHtml += "</ul></nav>"

        $("#pageList").html(pagesHtml);
        setRecordsInfo(totalRecords, pageSize, pageNumber);
        $("#pageContainer").removeClass("d-none");
    }

</script>