@model string

<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
    <div class="card">
          <div class="card-body">
            <h5> Overall </h5>
             <div id="overallChart"></div>
    </div>
    </div>
</div>


<script>

 



</script>
