<div class="container px-8">
   
    <div class="report-title">Incidents</div>
    
    <div class="card">
        <div class="card-body">
            <div class="page-actions">
                <div class="search-div">
                    <input type="text" id="searchText" class="line-textbox" placeholder="Enter title or description and hit Search" />
                    @*<button class="btn btn-outline-success search-btn">
                        <div>
                            <i class="material-icons">search</i>                         
                        </div>
                    </button>*@
                </div>
                <button type="button" class="modal-btn btn im-btn text-nowrap ms-2" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class="material-icons">
                        add
                    </i>
                    <span class="d-none d-lg-block">Add New</span>
                </button>
            </div>
           @* <NewIncident incidentAdded="@newIncidentAdded"></NewIncident>*@
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="text-nowrap" scope="col">Title</th>
                            <th class="text-nowrap" scope="col">Description</th>
                            <th class="text-nowrap" scope="col">Assigned TO</th>
                            <th class="text-nowrap" scope="col">Created By</th>
                            <th class="text-nowrap" scope="col">Created Date</th>
                            <th class="text-nowrap" scope="col">Due Date</th>
                            <th class="text-nowrap" scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody id="listRows">  
                        <tr>
                            <td colspan="7">
                                 <p class="loading-p">Loading...</p>
                            </td>
                        </tr>                             
                    </tbody>
                </table>
            </div>

            <div class="card-footer ">
                    @await Html.PartialAsync("_Pagination", "")   
            </div>
            
        </div>
    </div>

</div>

@section Scripts{
 <script>
let pageSize = 5;
let pageNumber = 1;
let searchTxt = "";

const setLoading = () => {
    let loadingHtml =
        `<tr>
                <td colspan="7">
                        <p class="loading-p">Loading...</p>
                </td>
        </tr>`;   
     $("#listRows").html(loadingHtml);
  }

const setNotFound = () => {
    let notFoundHtml =
        `<tr>
                <td colspan="7">
                        <p class="not-found">No Record Found.</p>
                </td>
        </tr>`;   
     $("#listRows").html(notFoundHtml);
  }

$(document).ready(function() {
    loadIncidents(5, 1, "");
  
      $("#searchText").on("input", function(e) {
        searchTxt = $("#searchText").val();
        searchTextChanged();
    });
});

function loadIncidents(pageSize, pageNumber, search) {
    setLoading();
    fetch("/Incident/ListingPage?pageSize=" + pageSize + "&pageNumber=" + pageNumber + "&search=" + searchTxt)
        .then(response => response.json())
        .then(response => {
            if (response.total_Incidents == 0 || response.incidents == null) {
                setNotFound();               
            }
            else {
                 setIncidents(response.incidents);                        
            }           
            setPagination(response.total_Incidents, pageSize, pageNumber);    
        })
        .catch((err) => {
            console.log(err);
        });

} // end of loadIncidents
function setIncidents(allIncidents) {
    let incidents = "";
    allIncidents.forEach((incident) => {
        let dueDateClass = "";
        let currentTime = new Date();     
        if (moment(incident.dueDate)._d < currentTime && (incident.status == 'N' || incident.status == 'I'))
            dueDateClass = "text-danger";

        incidents += 
        `<tr>
                <td class='title-td text-nowrap' title="${incident.title} ">
                <a href="@Url.Content("~/Incident/Details")/${incident.id}">
                        ${incident.title.length > 40 ? incident.title.slice(0, 40) + "..." : incident.title}
                </a>
                </td>
                <td class='text-nowrap' title='${incident.description}'>
                    ${incident.description.length > 50 ? incident.description.slice(0, 30) + "... " : incident.description}
                </td>
                <td class='text-nowrap'> ${getUserNameById(incident.assignedTo)}</td>;
                <td class='text-nowrap'> ${getUserNameById(incident.createdBy)}</td>;
                <td class='text-nowrap'>
                <span title='${moment(incident.createdAT).format("MMMM DD YYYY, h:mm:ss a")}' >  ${moment(incident.createdAT).fromNow()}
                </span>
                </td>
                <td class='text-nowrap ${dueDateClass}'>
                    <span title='${moment(incident.dueDate).format("MMMM DD YYYY, h:mm:ss a")}' >  ${moment(incident.dueDate).fromNow()}
                    </span>
                </td>;
                <td class='text-nowrap'>
                <div class='status-badge badge  ${getStatusByCode(incident.status).replace(" ", "").toLowerCase()}' >
                    ${getStatusByCode(incident.status)}
                </div>
            </td>
            </tr>`;
    })
    // render html
    $("#listRows").html(incidents);
}

const pageNumberChanged = (selectedPageNumber) => {
    pageNumber = selectedPageNumber;
    loadIncidents(pageSize, pageNumber, searchTxt);  
}

const pageSizeChanged = (selectedPageSize) => {
    pageNumber = 1;
    pageSize = selectedPageSize;
    loadIncidents(pageSize, pageNumber, searchTxt);
}

const searchWithDebounce = debounce(() => {
    loadIncidents(pageSize, 1, searchTxt);
}, 500);

const searchTextChanged = () => {    
    searchWithDebounce();  
}

 </script>
} 