/**************************** Dashboard *****************************/
:root {
/*    --new-bg-color: radial-gradient(circle, rgba(127,128,22,1) 0%, rgba(59,53,11,1) 100%);*/
  /*  --inprogress-bg-color: radial-gradient(circle, rgba(113,166,247,1) 0%, rgba(48,128,204,1) 100%);
    --closed-bg-color: radial-gradient(circle, rgba(66,194,56,1) 39%, rgba(113,200,120,1) 100%);
    --approved-bg-color: radial-gradient(circle, rgba(12,99,5,1) 0%, rgba(14,131,22,1) 100%);
    --late-bg-color: radial-gradient(circle, rgba(218,30,28,1) 0%, rgba(131,55,14,1) 100%);
    --assignedToMe-bg-color: radial-gradient(circle, rgba(28,55,218,1) 0%, rgba(17,24,112,1) 100%);*/
}




.widget {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 0 20px;
    height: 500px;
    min-height: 500px;
    max-height: 500px;
    overflow: auto;
    margin: 10px;
}

.card-body h5 {
    /*background: linear-gradient(0deg, rgba(26,35,126,1) 25%, rgba(253,187,45,1) 100%);*/
    /*   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    text-align: center;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
}


.incident {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #484646;
    max-width: 100%;
}

.time-status {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    color: indigo;
    height:60px;
}

.incident .timestamp {
    white-space: nowrap;
    font-size: small;
    color: white;
    background-color: #64666b;
    padding:0px 10px;
    border-radius: 4px;
}

.incident .status {
    white-space: nowrap;
    font-size: small;
    text-align:center;
    padding: 4px;
    min-width: 70px;
    color: white;
    border-radius: 7px
}




.incident .status.new {
    background: var( --new-bg-color);
}

.incident .status.inprogress {
    background: var(--inprogress-bg-color);
}

.incident .status.closed {
    background: var(--closed-bg-color);
}

.incident .status.approved {
    background: var(--approved-bg-color);
}




.incident .title {
    display: inline-block;
    margin-left: 20px;
}

    .incident .title a {
        font-size: medium;
        /*    padding-left: 5px;*/
        /*color: #1A237E;*/
        text-decoration: unset;
        color: #c6c6c6
    }

.incident .title:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* Small devices  */
@media (min-width: 280px) {
    .widget {
        padding: 0 10px;
        overflow: auto;
        margin-bottom: 10px;
        height: fit-content;
        max-width: 100%;
    }

    .incident {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
     
    }
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {
}

/* Large Tablets  */
@media (min-width: 990px) {
    .widget {
        padding: 0 10px;
        overflow: auto;
        margin-bottom: 10px;
        height: 500px;
    }
.dashboard-container .col-xl-6, .col-lg-6 {
    width: 49%;
}

}

/* Computer */
@media (min-width: 1500px) {
}

/********* KPIBar*/



.kpi-text {
    white-space: nowrap;
}

.new-color {
    background: var( --new-bg-color);
}

.inprogress-color {
    background: var(--inprogress-bg-color);
}

.closed-color {
    background: var(--closed-bg-color);
}

.approved-color {
    background: var(--approved-bg-color);
}

.late-color {
    background: var(--late-bg-color);
}

.assignedToMe-color {
    background: var(--assignedToMe-bg-color);
}

/*.kpi-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}*/


.kpi-value{
    font-size:medium;
    font-weight:bold;
}
.kpi-text {
    font-size: small;
}
    /* Small devices  */
@media (min-width: 270px) {
    .kpi-bar {
    display: flex;
    flex-direction: column;        
}
.kpi-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom:1vh;
}
.kpi {
    display: flex;
    width: 50%;
    margin: 0px 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-radius: 10px;
    color: white;
}
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {
}

/* Large Tablets  */
@media (min-width: 1000px) {
    .kpi-bar {
        display: flex;
        flex-direction: row;
        align-items:center;
    }
    .kpi-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 33%;
    }

    .kpi {
        display: flex;
        width: 50%;
        margin: 0px 10px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
        border-radius: 10px;
        color: white;
    }
}

/* Computer */
@media (min-width: 1500px) {
 
}
