
.card-body .page-actions {
    display: flex;
    justify-content: space-between;
  
}
.search-div {
    min-width: fit-content;
    /*font-size: xx-small;*/
    background-color: var(--card-bg);
}


.search-btn div {
    display: flex;    
}


.modal-btn{
    display:flex;
}


.title-td a {
    color: #a5b4ff;
}

.status-badge {
    padding: 8px;
    min-width: 80px;
    color: white;
    border-radius: 7px
}
.status-badge.new {   
    background: var(--new-bg-color);
}
.status-badge.inprogress {
    background: var(--inprogress-bg-color);
}
.status-badge.closed {
    background: var(--closed-bg-color);
}
.status-badge.approved {
    background: var(--approved-bg-color);
        
}

.status-badge.late {
    background-color: #c91e1e;
}
/***************  New Incidend *******************/
.modal-title {
    font-size: larger;
    color: #1a14a2;
    font-weight: bold;
    display:flex;
    align-items:center;
}
.modal-content input.assign-text{
    color:#756d6d;
}
.field{
 
    margin-bottom:15px;
    padding-bottom:5px;
    border-bottom:1px solid #cec5c5;
}
.field-tile {
    font-size: small;
    color: blue;
    margin-bottom: 5px;
    white-space: nowrap;
}
.field-tile.attachment{
    margin-top:10px;
}